@charset "UTF-8";
/* CSS Document */

@font-face {
  font-family: "EYfont";
  src: url("eyi/EYInterstate-Regular.woff") format("woff"),
    url("eyi/EYInterstate-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EYfont-Light";
  src: url("eyi/EYInterstate-Light.woff") format("woff"),
    url("eyi/EYInterstate-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: lighter;
}

@font-face {
  font-family: "EYfont-Bold";
  src: url("eyi/EYInterstate-Bold.woff") format("woff"),
    url("eyi/EYInterstate-Bold.ttf") format("truetype");
  font-weight: bolder;
  font-style: bolder;
}
